// yj

// 02_소개.html
.info_inner {margin: 0 auto; padding: 40px 41px; width: 100%; background-color: #f4f4f5; border-radius: 10px; color: #333333; box-sizing: border-box;}

.tit_box{margin-top: 20px; font-family: "PRETSB"; font-size: 22px; text-align: center;
    p{margin-bottom: 20px; font-size: 26px;}
}

/* 슬라이드커스텀 */
.swiper-container{position: relative; overflow: visible;
    .swiper-pagination{bottom: 0;
        .swiper-pagination-bullet{margin: 0 5px; width: 10px; height: 10px; background-color: #999999;}
        .swiper-pagination-bullet-active{width: 60px; background-color: #37c375; border-radius: 5px;}
    }
}
.swiper-slide-active{}
.btn_slide_prev,.btn_slide_next{position: absolute; top: 50%; transform: translateY(-50%); width: 46px; height: 46px; background: #fff url(../images/page/btn_slide_prev.png) no-repeat center; border: 1px solid #aaaaaa; border-radius: 50%; text-indent: -9999px; z-index: 1;}
.btn_slide_prev{left: -23px;}
.btn_slide_next{right: -23px; background: #fff url(../images/page/btn_slide_next.png) no-repeat center;}



.edu_step_container{margin: 40px auto 0; height: 450px; 
    .edu_step{display: flex; height: 420px;}
}
.edu_step{position: relative; height: 420px; background-color: #fff; border: 1px solid #DEE1E5; border-radius: 10px;
    .slide_contents{display: flex; gap: 31px; margin: 0 auto;
        img{}
        .slide_txt{ margin-top: 124px; width: 337px; font-family: 'PRETSB'; font-size: 14px; line-height: 1.286; color: #333; word-break: keep-all;
            p{margin-bottom: 41px; font-size: 24px;}
        }
    }

}

//슬라이드 4
.edu_step .left_box{position: relative; display: flex; flex-direction: column; justify-content: space-around; align-items: center;
    &::before{position: absolute; left: 50%; top: 50%; width: 37px; height: 29px; background: url(../images/page/img_Triangle.png)no-repeat center; transform: translate(-50%, -50%); content: '';}
    &::after{position: absolute; left: 110%; bottom: 90px; width: 37px; height: 29px; background: url(../images/page/img_Triangle.png)no-repeat center; transform: rotate(-90deg); content: '';}   
}
.edu_step .left_box p{font-family: "PRETSB"; font-size: 18px; text-align: center;
    span{font-family: "PRET"; font-size: 16px;}
}

.edu_step .middle_box{width: 572px; text-align: center; position: relative; font-size: 0;

    &::before{position: absolute; left: 50%; top: 50%;  transform: translate(-50%, -50%); padding: 25px; width: 107px; height: 108px; background: url(../images/page/img_ellipse.png)no-repeat center; content: '';}
    &::after{position: absolute; right: -15px; top: 45%; width: 37px; height: 29px; background: url(../images/page/img_Triangle.png)no-repeat center; transform: rotate(-90deg);  content: '';}
}

.step-wrap {position: relative; width: 960px; margin: 0 auto; display: flex; justify-content: center; gap: 20px;
    h3{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: block; font-family: 'PRETSB'; font-size: 16px; color: #333333; line-height: 1.2; text-align: center; z-index: 1;}
}

.edu_step .middle_box{ display: flex; flex-wrap: wrap; }

.edu_step .middle_box div{position: relative; width: 50%; height: 50%; font-size:16px; 
    &::before{position: absolute; width: 57px; height: 41px; background: url(../images/page/img_arrow.png)no-repeat center; content: '';}
    
    img{display: inline-block;  width: 100px; height: 100px; position: relative; z-index: 1;}
    .desc_box{display: inline-block; position: relative;  font-family: 'PRET'; font-size: 14px;  background:  linear-gradient(-30deg, rgba(220,219,216,1) 0%, rgba(248,248,246,1) 50%, rgba(236,237,234,1) 100%); border-radius: 10px; box-shadow: 0 4px 4px 1px rgba(0,0,0,.15); padding: 8px 70px 8px 14px; position: absolute; min-width: 156px; box-sizing: border-box; border: 1px solid #dfdfdf;

        .ul_tit{font-family: 'PRETSB'; font-size: 16px;}
        li{margin: 2px 0;}
    }

    &:nth-child(odd){display: flex; justify-content: flex-end; text-align: right; padding-right: 38px;
        img{order: 2; box-sizing: border-box; }
        .desc_box{order: 1; margin-right: 41px;}
    }
    &:nth-child(even){text-align: left; padding-left: 38px; 
        .desc_box{padding: 8px 32px 8px 74px; min-width: 192px; left: 68px;}
    }

    &:first-child,&:nth-child(2){padding-top: 83px;
        .desc_box{margin-top: -12px; vertical-align: top;
            &::before{top: -8px;}
        }
    }
    &:nth-child(3),&:last-child{padding-top: 24px;
        .desc_box{ vertical-align: bottom;
            &::before{top: -8px;}
        }
    }
    &:nth-child(3),&:last-child{
        .desc_box{margin-top: 35px;}
    }

    //화살표
    &:first-child{
        &::before{left: 100%; top: 25%; transform: translateX(-50%);}
    }
    &:nth-child(2){
        &::before{left: 50%; top: 100%; transform: translate(-50%, -50%) rotate(90deg);}
    }
    &:nth-child(3){
        &::before{left: 50%; top: 0; transform: translate(-50%, -50%) rotate(-90deg);}
    }
    &:last-child{
        &::before{left: 0; bottom: 25%; transform: translateX(-50%) rotate(180deg);}
    }
}

.edu_step .right_box{ display: flex; align-items: center; font-family: "PRETSB"; font-size: 18px; text-align: center;}
/* 슬라이드 커스텀 끝 */

.diagnosis{display: flex; justify-content: space-between; margin: 105px auto 0; }

.diagnosis_list{position: relative; padding: 78px 20px; width: 242px; background-color: #ffffff; border-radius: 10px; font-size: 16px; color: #333333; text-align: center;
    img{position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%);}
    >p{ font-family: "PRETSB"; font-size: 18px; margin-bottom: 16px; word-break: keep-all;}
    >div{ margin-top: 18px; border: 1px dashed #dddddd; border-radius: 10px; box-sizing: border-box;
        p{ padding: 5px; background-color: #ffc6c5; border-radius: 10px 10px 0 0; font-family: "PRETSB"; color: #a1211e;}    
    }
}
.diagnosis_list{
    &.second >div p{background-color: #b8d7de;color: #305f69;}
    &.third >div p{background-color: #a6d2b2;color: #0e5521;}
    &.fourth >div p{background-color: #e8dfd4;color: #884f09;}
}

.diagnosis_list .desc_box{width: 100%; padding: 9px 12px; text-align: left;}

a.link_diagnosis{margin: 40px auto 0; padding:  15px 48px; background-color: #37c375; border-radius: 24px; font-size: 18px; color: #ffffff;}