// ej


@font-face {
    font-family: 'jalnan';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/JalnanGothic.woff') format('woff');
}


body {font-feature-settings: "tnum";font-variant-numeric: tabular-nums;}


// 02_결과.html
.key_visual_area.visual_result { position: relative;}
.key_visual_area.visual_result .img { display: inline-block; width: 340px; height: 166px; background: transparent url("../images/page/visual_result.png") no-repeat 0 0; position: absolute; right: 90px; bottom: 0;}

.result-tit { font-size: 24px; font-weight: 600; margin-top: 36px;}
.result-box { font-size: 0; display: inline-block; width: 100%; box-sizing: border-box; padding: 0 50px; margin-top: 42px; position: relative; z-index: 0;

    > * { font-size: 16px;}
    
    .bubble { width: 80px; height: 80px; background-color: #eee; border-radius: 10px; text-align: center; font-size: 26px; font-weight:500; display: inline-block; vertical-align: middle; display: inline-flex; align-items: center; justify-content: center;  position: relative; margin-right: 20px; vertical-align: middle;
    
        &::before { content: ''; display: inline-block; position: absolute; right: 0; top: 50%; transform: translateY(-50%) translateX(50%) rotate(45deg);  width: 15px; height: 15px; background-color: #eee;}
    }
    .right { display: inline-flex; width: calc(100% - 100px); align-items: center; vertical-align: middle;}
    
    // 나의 점수
    .grade {}
    .grade.grade3 {}
    .grade::after {  content: ''; display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px); margin-left: 2px;}

}

// [반원그래프]
.result-pie-box {text-align: center; width: 212px;height: 212px; box-sizing: border-box; border-radius: 190px;background-color: #f5f5f5; padding: 6px; position: relative; vertical-align: middle; display: inline-block;

    .txt { color: #333; position: absolute; z-index: 2; left: 0; top: 57px;width: 100%;}
    .txt .tit { display: block; font-size: 20px; font-weight: 600; color: #333;}
    .score { margin-top: 13px; display: block; font-size: 40px; font-family: 'jalnan';}
    .grade { margin-top: 5px; font-size: 18px; color: #fff; padding: 6px 8px; min-width: 80px; text-align: center; display: inline-block; border-radius: 100px;}
}
.pie-graph-wrap {position: relative; width: 200px; height: 200px; 
    --percentage: 0; /* 초기에는 0으로 설정 */

    &::before { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background-color: #666; border-radius: 100px 100px 0 0; position: absolute; left: 0;  top: calc(50% - 9px); z-index: 3; background: url("../images/page/pie_bullet_bg.png") no-repeat 0 5px;}
    // &::after { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background-color: #ccc; border-radius: 100px; position: absolute; right: 0;  top: calc(50% - 10px); z-index: 2;}

}
.pie-graph {  position: relative; width: 100%; height: 100%; border-top-left-radius: 120px; border-top-right-radius: 120px; border-bottom: 0; box-sizing: border-box; overflow: hidden; display: flex; align-items: center; justify-content: center; z-index: 1; transition: .3s ease; animation: pieGraph .9s ease-in-out forwards;

    &::before { content: ''; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; background-image: conic-gradient(#666, #666 calc(var(--percentage, 0) / 2), #ccc 0); transition: transform .5s ease-in-out; z-index: -1; transform: rotate(270deg); }
    &::after { content: ''; position: absolute; display: block; background: #f5f5f5; z-index: 0; width: calc(100% - 36px); height: calc(100% - 36px); border-radius: 50%; top: 18px; left: 18px;}
}

// 그래프 끝 원 생성
.pcnt-wrap { position: absolute; top: 0; left: 0; transform: rotate(-90deg); width: 100%; height: 100%; z-index: 1; animation: pieGraphBullet .9s ease-in-out forwards;}
.pie-graph-wrap .dim { content: '';display: inline-block; width:100%; height: calc(50%); position: absolute; bottom: 0; left: 0; background-color: #f5f5f5; border-radius: 0 0 100px 100px; z-index: 1; overflow: hidden;
    &::before { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background-color: #ccc; border-radius: 100px; position: absolute; right: 0; top: -9px; z-index: 2;  } 
    // &::before { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background: url("../images//page/pie_bullet_bg.png") no-repeat center; position: absolute; right: 0; top: -12px; z-index: 2;}
}

.pie-graph-wrap .dim2 { content: '';display: inline-block; width:100%; height: calc(50% - 9px); position: absolute; bottom: 0; left: 0; background-color: #f5f5f5; border-radius: 0 0 100px 100px; z-index:2; overflow: hidden; overflow: hidden;}

.pcnt-wrap .pcnt { position: absolute; top: 0; left: 0; transform: translateX(-50%) rotate(calc(var(--percentage, 0) * 1.8deg)); transform-origin: center center; width: 100%; height: 200%; z-index: 100; bottom: 0; left: 50%; transform-origin: center; width: 18px; height: 100%; }

.pcnt-wrap .pcnt::before { content: ''; position: absolute; width: 18px; height: 18px; background-color: #666; border-radius: 50%; top: 0; left: 0;  left: calc(50% - 9px);}

// [막대그래프]
.result-bar-box { display: inline-block; vertical-align: middle; background-color: #f5f5f5; width: 100%; height: 100%; padding: 15px 20px 15px 76px; box-sizing: border-box; margin-left: -50px; border-radius: 0 10px 10px 0;

    .item { margin-top:15px; display: flex;
    
        .txt { margin-right: 27px; white-space: nowrap; min-width: 150px;}
        .txt .tit { font-weight: 600; font-size: 18px; margin-right: 10px;}
        .txt .score { font-size: 24px; font-weight: 600; font-family: 'jalnan';  min-width: 43px; text-align: right; display: inline-block;} 
        .txt .mg { font-weight: 600; font-size: 18px;}
    } 
    .item:first-child { margin-top:0; }

    .bar-graph { overflow: hidden; background-color: #ccc; height: 28px; display: inline-block; width: 100%; position: relative;
    
        span.pcnt { display: inline-block; height: 100%; background-color: #666; width: calc(var(--percentage, 0) * 1%); position: relative; animation: pcntage 1.5s ease forwards; white-space: nowrap; z-index: 1;}
        span.pcnt::before { content: ''; display: inline-block; width: 20px; height: 20px; background-color: #666; position: absolute; right: 0; top: 50%; transform: translate3d(50%, -50%, 0) rotate(45deg); z-index: -1; }
        .pcnt-txt {font-size: 16px; color: #fff; box-sizing: border-box; padding-left: 11px; padding-top: 5px;display: inline-block; height: 100%; position: absolute; left: 0; top: 0;  z-index: 1;}
        .pcnt-txt::after { content: ''; display: inline-block;width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px); margin-left: 2px;}
    } 
}


.ico-score {display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px);}


// 정렬
.custom-chk, .custom-rdo { display: inline-block; position: relative; overflow: hidden; margin: 0 8px;
    input[type="checkbox"],
    input[type="radio"] {position: absolute; top: -1px; left: -1px; width: 1px; height: 1px; display: inline-block;
    
        & + label { display: inline-block; cursor: pointer; transition: .3s ease;}
        &:focus-visible {outline: none;}
        &:focus-visible + label { outline: 2px dotted #000; outline-offset: -2px;}
    }

    // 체크박스
    input[type="checkbox"] {

        & + label {}
        & + label::before { content: ''; width: 14px; height: 14px; margin-right: 10px;  box-sizing: border-box; display: inline-block; border: 1px solid #666; background-color: #fff; border-radius: 3px; position: relative; top: 1px; }
        &:checked + label::before { background: #fff url("../images/page/ico_check.png") no-repeat center;}
    }

    // 라디오
    input[type="radio"] {

        & + label {}
        & + label::before { content: ''; width: 14px; height: 14px; margin-right: 10px;  box-sizing: border-box; display: inline-block; border: 1px solid #666; background-color: #fff; border-radius: 50px; position: relative; top: 1px; }
        &:checked + label::before { background: #fff;}
        &:checked + label::after { content:''; background: #555; border-radius: 10px; box-sizing: border-box; position: absolute; left: 3px; top: 4px; width: 8px; height: 8px; }
    }
    
}
.result-sort-wrap { text-align: right; margin-top: 40px;
    .mg { display: inline-block; vertical-align: middle; font-weight: 600;}
    .sort-box { font-size: 0; display: inline-block; vertical-align: middle; font-size: 16px;}
    .sort-box .item { display: inline-block; vertical-align: middle; font-size: 16px;}
}
.sort-box {
    .custom-chk, .custom-rdo {
        label { padding: 6px 15px 4px; box-sizing: border-box; background-color: #8a8a8a; color: #fff ; border-radius: 100px; height: 28px;}
        label::after { content: ''; display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px);}
    }
}



// [요일별 진단결과]
@keyframes pcntage {
    0% { width: 0;}
    100% { width: calc(var(--percentage, 0) * 1%);}
}

@keyframes pieGraph {
    0% { transform: rotate(-180deg);}
    100% { transform: rotate(0);}
}

@keyframes pieGraphBullet {
    0% { transform: rotate(calc(-90deg - 180deg)); z-index: 1;}
    100% { transform: rotate(-90deg); z-index: 2;}
}



.result-percent-box { display: inline-block; vertical-align: middle; width: 520px; height: 24px;  position: relative; background-color: #eee; margin-right: 15px;

    &::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/page/bg_result_per.png") repeat-x;}
    .pcnt { width: calc(var(--percentage, 0) * 1%); height: 100%; background-color: #ccc; display: inline-block; transition: .3s ease; }
}
.result-list-wrap { margin-top: 20px;

    .item { margin-top: 80px; font-size: 0;}
    .item > * { font-size: 16px;}
    .item:first-child { margin-top: 0;}
    .left-tit {font-size: 18px; color: #333; text-align: center; padding-right: 38px; display: inline-block; vertical-align: middle; width: 200px; box-sizing: border-box; }
    .left-tit img { display: block; margin:0 auto;}
    .left-tit span { display: block; margin-top: 14px; font-weight: 600;}
    .right-percent { display: inline-block; width: calc(100% - 200px); vertical-align: middle;}
    .right-percent .result-item { border: 1px dashed #ddd; box-sizing: border-box; border-radius: 15px; display: inline-flex; align-items: center; width: 100%; height: 64px; margin-top: 20px; position: relative; overflow: hidden;}
    .right-percent .result-item:first-child { margin-top: 0;}

    .result-pop-btn { position: absolute; right: 0; top: 0; width: 120px; box-sizing: border-box; height: 100%; background-color: #8a8a8a; display: inline-block; color: #fff; text-align: left; padding-left: 15px; font-size: 16px; line-height: 120%;
    
        &::before { content: '?'; display: inline-block; width: 16px; height: 16px; border-radius: 16px; background-color: #fff; right: 17px; top: 13px; position: absolute; color: #666; text-align: center; font-size: 13px;line-height: 16px;}
    }
    .result-pop-btn .blind { position: absolute; display: inline-block; text-indent: -99999px;}
    .right-percent .item-tit { width: 160px; text-align: center; box-sizing: border-box; font-size: 18px; font-weight: 600; margin-right: 36px; box-sizing: border-box; position: relative;
    
        &::before { content: ''; display: inline-block; width: 1px; height: 44px; position: absolute; top: 50%; right: 0; transform: translateY(-50%); background-color: #ddd;}
    }
    .right-percent .result-item .score { padding-left: 34px; position: relative; font-size: 24px; color: #666; font-weight: 600; min-width: 90px; margin-right: 20px; text-align: right;
        
        &::before { content: ''; display: inline-block; width: 28px; height: 2px; background-color: #aaa; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
        &::after { content: ''; display: inline-block; width: 6px; height: 6px; background-color: #aaa; position: absolute; left: 28px; border-radius: 10px; top: 50%; transform: translateY(-50%);}
    }
}
.result-list-wrap .result-item .grade { background-color: #999; width: 65px; height: 28px; box-sizing: border-box; color: #fff; display: inline-block; text-align: center; padding: 6px 5px; border-radius: 100px;
    
    &::after {content:''; display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px);} 
}


// 결과 이해 TIP
.bottom-tip-box { border-radius: 10px; margin-top: 84px; padding: 40px; box-sizing: border-box; background-color: #f4f4f5;

    .tit { font-size: 26px; font-weight: 600; color: #333;}
    .txt-wrap { margin-top: 10px;

        .left-txt { display: inline-block; max-width: 35%; word-break: keep-all; vertical-align: middle; box-sizing: border-box; padding-right: 45px; position: relative; z-index: 1;}
        .left-txt-tit { margin-top: 32px; font-size: 22px; font-weight: 600;}
        .basic { font-size: 16px; margin-top: 10px; line-height: 120%;}
    }

    
    .right-grade-graph{ display: inline-block; vertical-align: middle;
    
        .grade-graph { display: inline-block; width: 230px; height: 190px; display: inline-flex; align-items: center; justify-content: center; flex-direction: column; position: relative; vertical-align: bottom; 
        
            .item { font-size: 24px; height: 25%; display: inline-flex; align-items: center; color: #fff; width: 100%; justify-content: center; box-sizing: border-box; letter-spacing: -1px;}
            .item.score1 { height: 50%; padding-top: 45px; }
            .bg-left, .bg-right { box-sizing: border-box; content: ''; display: inline-block; width: 50%; height: 100%; position: absolute; top: 0; background-color: #f4f4f5;}
            .bg-left { left: 0; transform: translateX(-50%) skew(-31deg);box-sizing: border-box;}
            .bg-right { right: 0; transform: translateX(50%) skew(31deg); border-left: 20px solid #f4f4f5; box-sizing: border-box; overflow: hidden;}

            .line { position: absolute; right: 20px; top: 30px; transform: skew(-31deg); width: 97px; display: inline-block; display: flex; align-items: center; flex-direction: column; }
            .line i { width: 100%; height: 25%; position: relative;}
            .line i:first-child { height: 50%;}
            .line i::before { content: ''; display: inline-block; position: relative; margin-top: 40px; height: 2px;  background-color: #aaa; width: 100%;}
            .line i::after { content: ''; display: inline-block; position: absolute;right: 0; bottom: 1px; width: 6px; height: 6px; border-radius: 10px;  background-color: #aaa; }
        }

        .tip-txt-wrap { display: inline-block; vertical-align: bottom; position: relative; margin-left: 60px; margin-bottom: 17px;
        
            .tip-tit { font-size: 18px; font-weight: 600; box-sizing: border-box; padding-left: 60px;}

            .txt-box { margin-top: 22px;}
            .item { margin-top: 15px;}
            .item:first-child { margin-top: 0;}
            .score-tit { display: inline-block; padding: 6px 10px; color: #fff; border-radius:20px; font-size: 16px; margin-right: 10px;}

        }
        .bottom-tip { font-size: 14px; margin-top: 22px; text-align: center;}
    }
}


// modalpop
.result-popup {
    .layer .pop-layer { top: 50%; transform: translate3d(-50%, -50%, 0); margin-left: 0; margin-top: 0; border-radius: 14px; box-sizing: border-box; overflow: hidden;}
    .pop_container { max-width: 580px; width: 100%; padding: 0;}
    .pop_container .scroll_area .scroll_inner { padding: 20px; max-height: 600px;}
	.pop_title_area { height:52px; box-sizing: border-box; padding:17px 63px 17px 17px; position: relative; background-color: #31a866; }
    .pop_title_area h3 {font-size:18px; font-weight:700; color: #fff;} 
    .pop_btn.cbtn {position:absolute;right:18px;top:13px;width:26px;height:26px;text-indent:-99999px;overflow:hidden;  transform: rotate(45deg); background-color: transparent;
    
        &::before, &::after { content: ''; position: absolute; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0); background-color: #fff;}
        &::before { width: 100%; height: 2px;}
        &::after { height: 100%; width: 2px;}
    }
}

.graph-cont { 
    .graph-tr { display: flex; justify-content: end; box-sizing: border-box; 
    
        .align {width: 420px; display: flex; justify-content: space-between; padding-right: 45px; padding-left: 45px;}
        .num { font-size: 14px; color: #666;}
    }
    .graph-list { margin-top: 20px;
        .graph-item { margin-top: 30px; display: flex; align-items: center; }
        .graph-item:first-child { margin-top: 0; }
        .graph-item .tit { font-size: 18px; font-weight: 700; color: #333; min-width: 105px; display: inline-block; vertical-align: middle; margin-right: 14px;}
        .graph-item .bar-box { font-size: 0; position: relative; width: 420px; display: inline-block; vertical-align: middle; padding:0 45px; box-sizing: border-box;}
        .item-grade { display: inline-block; width: 45px;text-align: center; color: #fff;  background-color: #666; border-radius: 100px; font-size: 16px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); height: 23px; line-height: 23px; z-index: 1;}
        .item-score { color: #666; position: absolute; width: 45px; right: 0; top: 50%; transform: translateY(-50%); font-size: 20px; font-weight: 600; text-align: right;}
        .result-bar { height: 14px;width: calc(100% + 2px); margin-left: -2px; box-sizing: border-box; background-color: #ccc; display: inline-block; position: relative;}
        .result-bar::before {content: '';display: inline-block;  width: calc(var(--percentage, 0) * 1%); position: absolute; left: 0; top: 0; height: 100%; background-color: #666;}
    }
}

$score-colors: (
  1: #37c375, // 양호
  2: #f2ad18, // 보통
  3: #d71921  // 미흡
);

@for $i from 1 through 3 {
    //결과 이해 tip
    span.score#{$i} { background-color: map-get($score-colors, $i);}


    // 반원그래프
    .result-pie-box .score#{$i} {
        .pie-graph::before {background-image: conic-gradient(map-get($score-colors, $i), map-get($score-colors, $i) calc(var(--percentage, 0) * 1% / 2), #ccc 0);}
        &::before {background-color: map-get($score-colors, $i);}
        + .txt .grade { background-color: map-get($score-colors, $i);}
        .pcnt-wrap .pcnt::before {background-color: map-get($score-colors, $i);}

        + .txt .grade::after {  background: url("../images/page/ico_grade#{$i}.png") no-repeat center; }
    }

    // 막대그래프
    .result-bar-box .bar-graph.score#{$i}{ 
        .pcnt {background-color: map-get($score-colors, $i); }
        .pcnt::before { background-color: map-get($score-colors, $i);}
        .pcnt-txt::after { background: url("../images/page/ico_grade#{$i}.png") no-repeat center; }
    }

    // 정렬
    .ico-score.score#{$i} { background: url("../images/page/ico_grade#{$i}.png") no-repeat center;}
    input.score#{$i}:checked + label { background-color: map-get($score-colors, $i);} 
    .sort-box input.score#{$i} + label::after {background: url("../images/page/ico_grade#{$i}.png") no-repeat center;} 

    // 요일별 진단결과
    .result-list-wrap .result-item.active.score#{$i} .pcnt { background-color: map-get($score-colors, $i);}
    .result-list-wrap .result-item.active.score#{$i} .grade {background-color: map-get($score-colors, $i);}
    .result-list-wrap .result-item.score#{$i} .grade::after { background: url("../images/page/ico_grade#{$i}.png") no-repeat center; }



    // 결과 이해 tip
    .right-grade-graph .grade-graph .item.score#{$i} { background-color: map-get($score-colors, $i);}


    // modal-popup
    .graph-cont .graph-list .graph-item.score#{$i} .item-grade {background-color: map-get($score-colors, $i);}
    .graph-cont .graph-list .graph-item.score#{$i} .result-bar::before {background-color: map-get($score-colors, $i);}
}





// process-custom-popup
.process-custom-popup {

    .pop_container { padding-top: 50px;}
    .layer .pop-layer { top: 50%; transform: translate3d(-50%, -50%, 0); margin-left: 0; margin-top: 0; border-radius: 14px; box-sizing: border-box; overflow: hidden; max-width: 1260px; width: 100%;}
    // .pop_container { max-width: 580px; width: 100%; padding: 0;}
    
    .pop_title_area { height: 113px; display: block; text-align: center;}
    .pop_title_area h3 { font-size: 20px; padding-top: 40px; box-sizing:border-box;  background: url("../images/page/ico_popup_cont.svg") no-repeat center 0;}
    .pop_title_area .basic { font-size: 14px; text-align: center; margin-top: 15px;  color:#8E8E8E; line-height: 140%;}

    .scroll_area { max-height: 700px;}
    .scroll_area .scroll_inner {padding: 0; overflow-y: visible;}
    
    .pop_btn.cbtn { border-radius: 100px; position:absolute;right:18px;top:13px;width:22px;height:22px;text-indent:-99999px;overflow:hidden;  transform: rotate(45deg); background-color: transparent;
    
        &::before, &::after { content: ''; position: absolute; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0); background-color: #aaa;}
        &::before { width: 100%; height: 2px;}
        &::after { height: 100%; width: 2px;}
    }
    .pop-tab-btn-list { margin-top: 50px; display: flex; align-content: center; justify-content: space-around;
        > .item { width: 33.3%; text-align: center;}
        .pop-tab-btn { background-color: transparent; padding-bottom: 24px; color: #8E8E8E; font-size: 18px; position: relative;}
        .pop-tab-btn.active { color: #00A84A; font-weight: 700;}
        .pop-tab-btn::before {content: ''; display: inline-block; width: 6px; height: 6px; border-radius: 6px; position: absolute; bottom: 12px; left: 50%; transform: translateX(-50%); box-sizing: border-box; transition: .3s ease; background-color: #00A84A; opacity: 0;}
        .pop-tab-btn.active::before { opacity: 1;}

    }
    .tab-cont-wrap { background-color: #fafafa; height: 600px; box-sizing: border-box; padding: 40px 50px; overflow-y: auto;}
    .tab-cont-wrap .txt-wrap { display: table; height: 70px; width: 100%;}
    .tab-cont-wrap .basic { text-align: center; line-height: 140%; color: #666;  display: table-cell; vertical-align: middle;}
    .pop-result-list { margin-top: 48px;
    
        .item { background-color: #fff; border-radius: 10px; border: 1px solid #f2f2f2; padding: 12px 135px 12px 15px; box-sizing: border-box; margin: 4px 0; display: inline-flex; align-items: center; min-height: 72px; width: 100%; position: relative;}

        .tit { color: #394043; line-height: 23px; font-weight: 700; width: 150px; text-align: center; display: inline-block;}
        .txt { color: #5A6265; margin-left: 20px;}
        .more-btn { position: absolute; right: 39px; top: 50%; transform: translateY(-50%); color: #00A84A; padding-right: 14px;}
        .more-btn::after { content: ''; width: 8px; height: 8px; border: 1px solid #00A84A; border-left: 0; transform: rotate(-45deg); border-top: 0; box-sizing: border-box; position: absolute; right: 0; top: 4px;}
    }
    
    .pop-tab-cont { display: none;}
    .pop-tab-cont.active { display: block;}
}
.c-point { color: #00A84A; }
.result-tit + .tb_area { margin-top: 16px;}

//진단결과 보기 목록
.ico-state { display: inline-block; height: 33px; border-radius: 100px; padding: 6px 16px; box-sizing: border-box; position: relative; vertical-align: middle; background-color: #ddd; color: #333;}
.ico-state.complete { background-color: #E8F6EE;  color: #00A84A; }
.ico-state.complete::before {content: ''; width: 15px;height: 15px; display: inline-block; background: transparent url("../images/page/ico_complate.png") no-repeat 0 0; background-size: 14px; vertical-align: middle; margin-right: 6px;  margin-top: 0; } 
.ico-state.ongoing { background-color: #FFEFF2;  color: #DC526A; }
.ico-state.ongoing::before {  content: ''; width: 15px;height: 15px; display: inline-block;background: transparent url("../images/page/ico_ongoing.png") no-repeat 0 0; background-size: 15px; vertical-align: middle; margin-top: -2px; margin-right: 6px; background-size: 14px; margin-top: 0; } 
.chk-result-btn { text-decoration: underline !important; color: #00A84A !important; }
.chk-result-txt {color: #C7CBCC;}

//마이페이지 진단결과 조회
.key_visual_area.visual_mypage2 { position: relative; }
.key_visual_area.visual_mypage2 .img { display: inline-block; width: 481px; height: 270px; background: transparent url("../images/page/visual_mypage2.png") no-repeat 0 0; position: absolute; right: 180px; bottom: 0;}
.key_visual_area.visual_mypage2 .txt_area {position: relative; z-index: 1;}
.key_visual_area.visual_mypage2 .col2 { display: flex; justify-content: space-between; width: 100%;}

.tip-gray-box { background-color: #F3F5F6; border: 1px solid #ECECEC; box-sizing: border-box; border-radius: 10px; padding: 40px 44px;  display: flex; align-items: center;

    .left {padding-left: 75px;  background: url("../images/page/ico_tip.png") no-repeat 0 center; display: inline-block; white-space: nowrap; 
    
        .tit { font-size: 20px; color: #25282B; text-align: left; display: inline-block; font-weight: 600; line-height: 150%;}
    }
    .right { display: inline-block; margin-left: 44px; letter-spacing: -0.7px; word-break: keep-all;
    
        .txt { font-size: 14px; color: #5A6265; text-align: left; display: inline-block;  line-height: 150%;}
    }
}
.subtit-wrap { position: relative; margin-top: 36px;

    .result-tit { margin-top: 0;}
    .right { position: absolute; right: 0; top: 0;}
    .service-btn { background: #393939 url("../images/page/ico_popup_cont2.svg") no-repeat 14px center; color: #fff; padding: 10px 14px 10px 54px; border-radius: 100px; transition: .3s ease;}
}
.tb-checkbox-wrap { font-size: 0; margin-top: 16px;
    > * { font-size: 15px }

    .tb-checkbox { position: relative; display: inline-block;  box-sizing: border-box; margin-right: 12px; overflow: hidden; 
    
        input { outline: none; position: absolute; left: -1px; top: -1px; width: 1px; height: 1px;  border: 0;}
        label { transition: .3s ease; cursor: pointer; color: #8E8E8E; display: inline-block; padding: 8px 16px 8px 36px; box-sizing: border-box; border-radius: 100px; border: 1px solid #E2E2E2; background-color: #F9F9F9;   padding-left: 16px;}
        label::before { content: ''; display: inline-block; background: transparent url("../images/page/ico_complate.png") no-repeat 0 0; width: 12px;height: 8px; background-size: 12px 8px; transition: .3s ease; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); opacity: 0;}

        input:checked + label { padding-left: 36px; background-color: #F7FDF9; border-color: #37C375; color: #2DB86B; font-weight: 600;}
        input:checked + label::before { opacity: 1;}

        
        input:focus-visible + label {outline: 2px dashed #000;outline-offset: -3px;}
        &.check-all label { color: #fff; background: #37C375; border: 1px solid #37C374; padding-left: 31px;}
        &.check-all label::before { width: 14px; height: 14px; border-radius: 14px; background: #fff; opacity: 1; box-sizing: border-box;  left: 12px;}
        
        &.check-all input:checked + label { color: #fff; background: #777; border-color: #777778;  font-weight: 400; padding-left: 31px;}
        &.check-all input:checked + label::before {  box-sizing: border-box; border: 3px solid #fff;  background-color: #777;}
    }
}

.area-checkbox-wrap { background-color: #F8F9FA; border-radius: 10px; padding: 32px 60px 12px; box-sizing: border-box; display: flex; margin-top: 20px;

    .left {display: inline-block; vertical-align: top;
    
        .tit { color: #25282B; font-weight: 600; white-space: nowrap; position: relative; padding-right: 14px; background: url("../images/page/ico_check_arrow.svg") no-repeat right 0 top 50%;}
        .txt { margin-top: 4px; display: block; color: #858E92; font-size: 13px;}
    }
    .right {display: inline-block; vertical-align: top;}
    
}
.area-checkbox { position: relative; display: inline-block;  box-sizing: border-box; margin-right: 12px; overflow: hidden; margin:0 0 20px; padding: 0 28px;
    &::after { content: ''; display: inline-block; width: 1px; height: 16px; background-color: #D9D9D9; position: absolute; right: 0;} 
    &:last-child::after { display: none;}
    input { outline: none; position: absolute; left: -1px; top: -1px; width: 1px; height: 1px;  border: 0;}
    label { cursor: pointer; color: #8E8E8E; display: inline-block;  box-sizing: border-box; }
    input:checked + label { font-weight: 500; color: #2DB86B; text-decoration: underline; }
    input:focus-visible + label {outline: 2px dashed #000;outline-offset: -3px;}
}


.list_control_box.type2 { justify-content: space-between;
    .list_num { min-width:auto;}
    .list_seleted { display: inline-flex; vertical-align: middle;}
    > * { display: inline-block; vertical-align: middle;}

}
.list_sort { position: relative; vertical-align: middle; width: 140px; height: 42px; display: inline-block; margin-right: 10px;

    input { outline: none; position: absolute; left: -1px; top: -1px; width: 1px; height: 1px;  border: 0;}
    label { cursor: pointer; display: inline-block;  box-shadow: 0px 2px 8px 0px #0000001A inset; border-radius: 100px; width: 100%; height: 100%; background: url("../images/page/list_sort_bg.png") no-repeat center; background-color: #DEE1E5;}
    .type { color: #25282B; position: relative; background-color: #fff; padding-left: 36px; width: 102px; box-sizing: border-box; border: 1px solid #DEE1E5; border-radius: 100px; position: absolute; height: 42px; display: inline-block; padding-top: 13px; align-items: center; font-size: 14px; left: -1px; top: 0; font-weight: 600;transition: .3s ease; }

    .type.text {background:#fff  url("../images/page/ico_sort_list.png") no-repeat left 18px top 50%; left: auto; right: 0;}
    .type.img {background: #fff url("../images/page/ico_sort_img.png") no-repeat left 18px top 50%; right: auto; left: 0; opacity: 1; display:  none;}

    input + label .type.text { right: auto; left: 0; opacity: 1;}
    input:checked + label .type.text { left: 0; right: auto; display: none; }
    input:checked + label .type.img { right: 0; left: auto; display: block; }

}
.board-list-wrap { margin-top: 27px;

    //이미지형 
    .list-header-box { display: none;}
    .list-item-box {margin: 0 -10px;  font-size: 0; 
        > * { font-size: 16px;}
        .item { vertical-align: top; margin: 0 10px 32px; width: calc(25% - 20px); display: inline-block; position: relative;}
        .item::before { content: ''; display: inline-block; width: 1px; height: 80%; background-color: #F1F1F1; position: absolute; left: -10px; top: 50%; transform: translateY(-50%);}
        .item:nth-child(4n + 1)::before { opacity: 0;}

        a { display: block;}
        .imgbox { margin-bottom: 12px; overflow: hidden; border-radius: 10px;}
        img { height: 100%;}
    }

    .td-type { font-size: 14px; color: #2DB86B; text-decoration: underline; display: block;} 
    .td-tit { display: inline-block; margin-top: 4px; font-size: 16px; line-height: 20px;} 
    .view-more-btn { position: absolute; right: 12px; top: 106px; background:rgba(0,0,0,.36) url("../images/page/ico_arrow_w.png") no-repeat right 12px top 50%; color: #fff; border-radius: 12px; font-size: 14px; display: inline-block; padding: 9px 23px 9px 12px; backdrop-filter: blur(11px);} 

    // 게시글형
    &.text { 
        .list-header-box {}
        .list-item-box { display: table-row-group;
            .item { width: 100%; transition: .3s ease; margin: 0; border-bottom: 1px solid #EEF1F3; height: 55px;}
            .item:hover { background-color: #fafafa;}
            a { height: 100%;}
            .item::before { display: none;}
            .imgbox { display: none;}
            .txtbox { display: flex; align-items: center;  height: 100%;}
            .td { text-align: center;}
            .view-more-btn {top: auto; right: auto;  position: relative; color: #4A4A4A; background: transparent url("../images/page/ico_arrow_b.png") no-repeat right 12px top 1px; padding: 0 25px 0 0;}
            .td-tit { margin-top: 0; text-align: left; padding: 0 10px; box-sizing: border-box;}
        }

            
        // list header
        .list-header-box { border-top: 1px solid #37C375; color: #8E8E9D; width: 100%; display: table; 
        
            .list-header { display: table-row-group;}
            .th { height: 53px; vertical-align: middle; display: table-cell; text-align: center; border-bottom: 1px solid #E4E8EC;}
        }

        .th-type, .td-type { width: 15%;} //학습영역
        .th-tit, .td-tit { width: 70%;} //교육과정명
        .th-view, .td-view { width: 15%;} //교육하러가기
    }
}