// ej


@font-face {
    font-family: 'jalnan';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/JalnanGothic.woff') format('woff');
}


body {font-feature-settings: "tnum";font-variant-numeric: tabular-nums;}


// 02_결과.html
.key_visual_area.visual_result { position: relative;}
.key_visual_area.visual_result .img { display: inline-block; width: 340px; height: 166px; background: transparent url("../images/page/visual_result.png") no-repeat 0 0; position: absolute; right: 90px; bottom: 0;}

.result-tit { font-size: 28px; font-weight: 600; margin-top: 36px;}
.result-box { font-size: 0; display: inline-block; width: 100%; box-sizing: border-box; padding: 0 50px; margin-top: 42px; position: relative; z-index: 0;

    > * { font-size: 16px;}
    
    .bubble { width: 80px; height: 80px; background-color: #eee; border-radius: 10px; text-align: center; font-size: 26px; font-weight:500; display: inline-block; vertical-align: middle; display: inline-flex; align-items: center; justify-content: center;  position: relative; margin-right: 20px; vertical-align: middle;
    
        &::before { content: ''; display: inline-block; position: absolute; right: 0; top: 50%; transform: translateY(-50%) translateX(50%) rotate(45deg);  width: 15px; height: 15px; background-color: #eee;}
    }
    .right { display: inline-flex; width: calc(100% - 100px); align-items: center; vertical-align: middle;}
    
    // 나의 점수
    .grade {}
    .grade.grade3 {}
    .grade::after {  content: ''; display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px); margin-left: 2px;}

}

// [반원그래프]
.result-pie-box {text-align: center; width: 212px;height: 212px; box-sizing: border-box; border-radius: 190px;background-color: #f5f5f5; padding: 6px; position: relative; vertical-align: middle; display: inline-block;

    .txt { color: #333; position: absolute; z-index: 2; left: 0; top: 57px;width: 100%;}
    .txt .tit { display: block; font-size: 20px; font-weight: 600; color: #333;}
    .score { margin-top: 13px; display: block; font-size: 40px; font-family: 'jalnan';}
    .grade { margin-top: 5px; font-size: 18px; color: #fff; padding: 6px 8px; min-width: 80px; text-align: center; display: inline-block; border-radius: 100px;}
}
.pie-graph-wrap {position: relative; width: 200px; height: 200px; 
    --percentage: 0; /* 초기에는 0으로 설정 */

    &::before { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background-color: #666; border-radius: 100px 100px 0 0; position: absolute; left: 0;  top: calc(50% - 9px); z-index: 3; background: url("../images/page/pie_bullet_bg.png") no-repeat 0 5px;}
    // &::after { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background-color: #ccc; border-radius: 100px; position: absolute; right: 0;  top: calc(50% - 10px); z-index: 2;}

}
.pie-graph {  position: relative; width: 100%; height: 100%; border-top-left-radius: 120px; border-top-right-radius: 120px; border-bottom: 0; box-sizing: border-box; overflow: hidden; display: flex; align-items: center; justify-content: center; z-index: 1; transition: .3s ease; animation: pieGraph .9s ease-in-out forwards;

    &::before { content: ''; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; background-image: conic-gradient(#666, #666 calc(var(--percentage, 0) / 2), #ccc 0); transition: transform .5s ease-in-out; z-index: -1; transform: rotate(270deg); }
    &::after { content: ''; position: absolute; display: block; background: #f5f5f5; z-index: 0; width: calc(100% - 36px); height: calc(100% - 36px); border-radius: 50%; top: 18px; left: 18px;}
}

// 그래프 끝 원 생성
.pcnt-wrap { position: absolute; top: 0; left: 0; transform: rotate(-90deg); width: 100%; height: 100%; z-index: 1; animation: pieGraphBullet .9s ease-in-out forwards;}
.pie-graph-wrap .dim { content: '';display: inline-block; width:100%; height: calc(50%); position: absolute; bottom: 0; left: 0; background-color: #f5f5f5; border-radius: 0 0 100px 100px; z-index: 1; overflow: hidden;
    &::before { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background-color: #ccc; border-radius: 100px; position: absolute; right: 0; top: -9px; z-index: 2;  } 
    // &::before { content: ''; width: 18px; height: 18px; box-sizing: border-box; display: inline-block; background: url("../images//page/pie_bullet_bg.png") no-repeat center; position: absolute; right: 0; top: -12px; z-index: 2;}
}

.pie-graph-wrap .dim2 { content: '';display: inline-block; width:100%; height: calc(50% - 9px); position: absolute; bottom: 0; left: 0; background-color: #f5f5f5; border-radius: 0 0 100px 100px; z-index:2; overflow: hidden; overflow: hidden;}

.pcnt-wrap .pcnt { position: absolute; top: 0; left: 0; transform: translateX(-50%) rotate(calc(var(--percentage, 0) * 1.8deg)); transform-origin: center center; width: 100%; height: 200%; z-index: 100; bottom: 0; left: 50%; transform-origin: center; width: 18px; height: 100%; }

.pcnt-wrap .pcnt::before { content: ''; position: absolute; width: 18px; height: 18px; background-color: #666; border-radius: 50%; top: 0; left: 0;  left: calc(50% - 9px);}

// [막대그래프]
.result-bar-box { display: inline-block; vertical-align: middle; background-color: #f5f5f5; width: 100%; height: 100%; padding: 15px 20px 15px 76px; box-sizing: border-box; margin-left: -50px; border-radius: 0 10px 10px 0;

    .item { margin-top:15px; display: flex;
    
        .txt { margin-right: 27px; white-space: nowrap; min-width: 150px;}
        .txt .tit { font-weight: 600; font-size: 18px; margin-right: 10px;}
        .txt .score { font-size: 24px; font-weight: 600; font-family: 'jalnan';  min-width: 43px; text-align: right; display: inline-block;} 
        .txt .mg { font-weight: 600; font-size: 18px;}
    } 
    .item:first-child { margin-top:0; }

    .bar-graph { overflow: hidden; background-color: #ccc; height: 28px; display: inline-block; width: 100%; position: relative;
    
        span.pcnt { display: inline-block; height: 100%; background-color: #666; width: calc(var(--percentage, 0) * 1%); position: relative; animation: pcntage 1.5s ease forwards; white-space: nowrap; z-index: 1;}
        span.pcnt::before { content: ''; display: inline-block; width: 20px; height: 20px; background-color: #666; position: absolute; right: 0; top: 50%; transform: translate3d(50%, -50%, 0) rotate(45deg); z-index: -1; }
        .pcnt-txt {font-size: 16px; color: #fff; box-sizing: border-box; padding-left: 11px; padding-top: 5px;display: inline-block; height: 100%; position: absolute; left: 0; top: 0;  z-index: 1;}
        .pcnt-txt::after { content: ''; display: inline-block;width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px); margin-left: 2px;}
    } 
}


.ico-score {display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px);}


// 정렬
.custom-chk, .custom-rdo { display: inline-block; position: relative; overflow: hidden; margin: 0 8px;
    input[type="checkbox"],
    input[type="radio"] {position: absolute; top: -1px; left: -1px; width: 1px; height: 1px; display: inline-block;
    
        & + label { display: inline-block; cursor: pointer; transition: .3s ease;}
        &:focus-visible {outline: none;}
        &:focus-visible + label { outline: 2px dotted #000; outline-offset: -2px;}
    }

    // 체크박스
    input[type="checkbox"] {

        & + label {}
        & + label::before { content: ''; width: 14px; height: 14px; margin-right: 10px;  box-sizing: border-box; display: inline-block; border: 1px solid #666; background-color: #fff; border-radius: 3px; position: relative; top: 1px; }
        &:checked + label::before { background: #fff url("../images/page/ico_check.png") no-repeat center;}
    }

    // 라디오
    input[type="radio"] {

        & + label {}
        & + label::before { content: ''; width: 14px; height: 14px; margin-right: 10px;  box-sizing: border-box; display: inline-block; border: 1px solid #666; background-color: #fff; border-radius: 50px; position: relative; top: 1px; }
        &:checked + label::before { background: #fff;}
        &:checked + label::after { content:''; background: #555; border-radius: 10px; box-sizing: border-box; position: absolute; left: 3px; top: 4px; width: 8px; height: 8px; }
    }
    
}
.result-sort-wrap { text-align: right; margin-top: 40px;
    .mg { display: inline-block; vertical-align: middle; font-weight: 600;}
    .sort-box { font-size: 0; display: inline-block; vertical-align: middle; font-size: 16px;}
    .sort-box .item { display: inline-block; vertical-align: middle; font-size: 16px;}
}
.sort-box {
    .custom-chk, .custom-rdo {
        label { padding: 6px 15px 4px; box-sizing: border-box; background-color: #8a8a8a; color: #fff ; border-radius: 100px; height: 28px;}
        label::after { content: ''; display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px);}
    }
}



// [요일별 진단결과]
@keyframes pcntage {
    0% { width: 0;}
    100% { width: calc(var(--percentage, 0) * 1%);}
}

@keyframes pieGraph {
    0% { transform: rotate(-180deg);}
    100% { transform: rotate(0);}
}

@keyframes pieGraphBullet {
    0% { transform: rotate(calc(-90deg - 180deg)); z-index: 1;}
    100% { transform: rotate(-90deg); z-index: 2;}
}



.result-percent-box { display: inline-block; vertical-align: middle; width: 520px; height: 24px;  position: relative; background-color: #eee; margin-right: 15px;

    &::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/page/bg_result_per.png") repeat-x;}
    .pcnt { width: calc(var(--percentage, 0) * 1%); height: 100%; background-color: #ccc; display: inline-block; transition: .3s ease; }
}
.result-list-wrap { margin-top: 20px;

    .item { margin-top: 80px; font-size: 0;}
    .item > * { font-size: 16px;}
    .item:first-child { margin-top: 0;}
    .left-tit {font-size: 18px; color: #333; text-align: center; padding-right: 38px; display: inline-block; vertical-align: middle; width: 200px; box-sizing: border-box; }
    .left-tit img { display: block; margin:0 auto;}
    .left-tit span { display: block; margin-top: 14px; font-weight: 600;}
    .right-percent { display: inline-block; width: calc(100% - 200px); vertical-align: middle;}
    .right-percent .result-item { border: 1px dashed #ddd; box-sizing: border-box; border-radius: 15px; display: inline-flex; align-items: center; width: 100%; height: 64px; margin-top: 20px; position: relative; overflow: hidden;}
    .right-percent .result-item:first-child { margin-top: 0;}

    .result-pop-btn { position: absolute; right: 0; top: 0; width: 120px; box-sizing: border-box; height: 100%; background-color: #8a8a8a; display: inline-block; color: #fff; text-align: left; padding-left: 15px; font-size: 16px; line-height: 120%;
    
        &::before { content: '?'; display: inline-block; width: 16px; height: 16px; border-radius: 16px; background-color: #fff; right: 17px; top: 13px; position: absolute; color: #666; text-align: center; font-size: 13px;line-height: 16px;}
    }
    .result-pop-btn .blind { position: absolute; display: inline-block; text-indent: -99999px;}
    .right-percent .item-tit { width: 160px; text-align: center; box-sizing: border-box; font-size: 18px; font-weight: 600; margin-right: 36px; box-sizing: border-box; position: relative;
    
        &::before { content: ''; display: inline-block; width: 1px; height: 44px; position: absolute; top: 50%; right: 0; transform: translateY(-50%); background-color: #ddd;}
    }
    .right-percent .result-item .score { padding-left: 34px; position: relative; font-size: 24px; color: #666; font-weight: 600; min-width: 90px; margin-right: 20px; text-align: right;
        
        &::before { content: ''; display: inline-block; width: 28px; height: 2px; background-color: #aaa; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
        &::after { content: ''; display: inline-block; width: 6px; height: 6px; background-color: #aaa; position: absolute; left: 28px; border-radius: 10px; top: 50%; transform: translateY(-50%);}
    }
}
.result-list-wrap .result-item .grade { background-color: #999; width: 65px; height: 28px; box-sizing: border-box; color: #fff; display: inline-block; text-align: center; padding: 6px 5px; border-radius: 100px;
    
    &::after {content:''; display: inline-block; width: 19px; height: 19px; background: url("../images/page/ico_grade1.png") no-repeat center; vertical-align: middle; transform: translateY(-1px);} 
}


// 결과 이해 TIP
.bottom-tip-box { border-radius: 10px; margin-top: 84px; padding: 40px; box-sizing: border-box; background-color: #f4f4f5;

    .tit { font-size: 26px; font-weight: 600; color: #333;}
    .txt-wrap { margin-top: 10px;

        .left-txt { display: inline-block; max-width: 35%; word-break: keep-all; vertical-align: middle; box-sizing: border-box; padding-right: 45px; position: relative; z-index: 1;}
        .left-txt-tit { margin-top: 32px; font-size: 22px; font-weight: 600;}
        .basic { font-size: 16px; margin-top: 10px; line-height: 120%;}
    }

    
    .right-grade-graph{ display: inline-block; vertical-align: middle;
    
        .grade-graph { display: inline-block; width: 230px; height: 190px; display: inline-flex; align-items: center; justify-content: center; flex-direction: column; position: relative; vertical-align: bottom; 
        
            .item { font-size: 24px; height: 25%; display: inline-flex; align-items: center; color: #fff; width: 100%; justify-content: center; box-sizing: border-box; letter-spacing: -1px;}
            .item.score1 { height: 50%; padding-top: 45px; }
            .bg-left, .bg-right { box-sizing: border-box; content: ''; display: inline-block; width: 50%; height: 100%; position: absolute; top: 0; background-color: #f4f4f5;}
            .bg-left { left: 0; transform: translateX(-50%) skew(-31deg);box-sizing: border-box;}
            .bg-right { right: 0; transform: translateX(50%) skew(31deg); border-left: 20px solid #f4f4f5; box-sizing: border-box; overflow: hidden;}

            .line { position: absolute; right: 20px; top: 30px; transform: skew(-31deg); width: 97px; display: inline-block; display: flex; align-items: center; flex-direction: column; }
            .line i { width: 100%; height: 25%; position: relative;}
            .line i:first-child { height: 50%;}
            .line i::before { content: ''; display: inline-block; position: relative; margin-top: 40px; height: 2px;  background-color: #aaa; width: 100%;}
            .line i::after { content: ''; display: inline-block; position: absolute;right: 0; bottom: 1px; width: 6px; height: 6px; border-radius: 10px;  background-color: #aaa; }
        }

        .tip-txt-wrap { display: inline-block; vertical-align: bottom; position: relative; margin-left: 60px; margin-bottom: 17px;
        
            .tip-tit { font-size: 18px; font-weight: 600; box-sizing: border-box; padding-left: 60px;}

            .txt-box { margin-top: 22px;}
            .item { margin-top: 15px;}
            .item:first-child { margin-top: 0;}
            .score-tit { display: inline-block; padding: 6px 10px; color: #fff; border-radius:20px; font-size: 16px; margin-right: 10px;}

        }
        .bottom-tip { font-size: 14px; margin-top: 22px; text-align: center;}
    }
}


// modalpop
.result-popup {
    .layer .pop-layer { top: 50%; transform: translate3d(-50%, -50%, 0); margin-left: 0; margin-top: 0; border-radius: 14px; box-sizing: border-box; overflow: hidden;}
    .pop_container { max-width: 580px; width: 100%; padding: 0;}
    .pop_container .scroll_area .scroll_inner { padding: 20px; max-height: 600px;}
	.pop_title_area { height:52px; box-sizing: border-box; padding:17px 63px 17px 17px; position: relative; background-color: #31a866; }
    .pop_title_area h3 {font-size:18px; font-weight:700; color: #fff;} 
    .pop_btn.cbtn {position:absolute;right:18px;top:13px;width:26px;height:26px;text-indent:-99999px;overflow:hidden;  transform: rotate(45deg); background-color: transparent;
    
        &::before, &::after { content: ''; position: absolute; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0); background-color: #fff;}
        &::before { width: 100%; height: 2px;}
        &::after { height: 100%; width: 2px;}
    }
}

.graph-cont { 
    .graph-tr { display: flex; justify-content: end; box-sizing: border-box; 
    
        .align {width: 420px; display: flex; justify-content: space-between; padding-right: 45px; padding-left: 45px;}
        .num { font-size: 14px; color: #666;}
    }
    .graph-list { margin-top: 20px;
        .graph-item { margin-top: 30px; display: flex; align-items: center; }
        .graph-item:first-child { margin-top: 0; }
        .graph-item .tit { font-size: 18px; font-weight: 700; color: #333; min-width: 105px; display: inline-block; vertical-align: middle; margin-right: 14px;}
        .graph-item .bar-box { font-size: 0; position: relative; width: 420px; display: inline-block; vertical-align: middle; padding:0 45px; box-sizing: border-box;}
        .item-grade { display: inline-block; width: 45px;text-align: center; color: #fff;  background-color: #666; border-radius: 100px; font-size: 16px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); height: 23px; line-height: 23px; z-index: 1;}
        .item-score { color: #666; position: absolute; width: 45px; right: 0; top: 50%; transform: translateY(-50%); font-size: 20px; font-weight: 600; text-align: right;}
        .result-bar { height: 14px;width: calc(100% + 2px); margin-left: -2px; box-sizing: border-box; background-color: #ccc; display: inline-block; position: relative;}
        .result-bar::before {content: '';display: inline-block;  width: calc(var(--percentage, 0) * 1%); position: absolute; left: 0; top: 0; height: 100%; background-color: #666;}
    }
}

$score-colors: (
  1: #37c375, // 양호
  2: #f2ad18, // 보통
  3: #d71921  // 미흡
);

@for $i from 1 through 3 {
    //결과 이해 tip
    span.score#{$i} { background-color: map-get($score-colors, $i);}


    // 반원그래프
    .result-pie-box .score#{$i} {
        .pie-graph::before {background-image: conic-gradient(map-get($score-colors, $i), map-get($score-colors, $i) calc(var(--percentage, 0) * 1% / 2), #ccc 0);}
        &::before {background-color: map-get($score-colors, $i);}
        + .txt .grade { background-color: map-get($score-colors, $i);}
        .pcnt-wrap .pcnt::before {background-color: map-get($score-colors, $i);}

        + .txt .grade::after {  background: url("../images/page/ico_grade#{$i}.png") no-repeat center; }
    }

    // 막대그래프
    .result-bar-box .bar-graph.score#{$i}{ 
        .pcnt {background-color: map-get($score-colors, $i); }
        .pcnt::before { background-color: map-get($score-colors, $i);}
        .pcnt-txt::after { background: url("../images/page/ico_grade#{$i}.png") no-repeat center; }
    }

    // 정렬
    .ico-score.score#{$i} { background: url("../images/page/ico_grade#{$i}.png") no-repeat center;}
    input.score#{$i}:checked + label { background-color: map-get($score-colors, $i);} 
    .sort-box input.score#{$i} + label::after {background: url("../images/page/ico_grade#{$i}.png") no-repeat center;} 

    // 요일별 진단결과
    .result-list-wrap .result-item.active.score#{$i} .pcnt { background-color: map-get($score-colors, $i);}
    .result-list-wrap .result-item.active.score#{$i} .grade {background-color: map-get($score-colors, $i);}
    .result-list-wrap .result-item.score#{$i} .grade::after { background: url("../images/page/ico_grade#{$i}.png") no-repeat center; }



    // 결과 이해 tip
    .right-grade-graph .grade-graph .item.score#{$i} { background-color: map-get($score-colors, $i);}


    // modal-popup
    .graph-cont .graph-list .graph-item.score#{$i} .item-grade {background-color: map-get($score-colors, $i);}
    .graph-cont .graph-list .graph-item.score#{$i} .result-bar::before {background-color: map-get($score-colors, $i);}
}

